.artykuł {
  background-color: #faebd6;
}

h1 {
  font-size: 30px;
  color: #ff0000;
  font-weight: bold;
}

p:nth-last-of-type(2) {
  color: #a42423;
  font-size: 20px;
}

p:nth-last-of-type(1) {
  color: #00008f;
  font-size: 20px;
}
